<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1 th:text="${message}">Добро пожаловать в админ-панель!</h1>
    <p>Выберите действие:</p>

    <div class="nav">
        <a href="/admin/schema">Настроить схему</a>
        <a href="/admin/upload">Импорт данных</a>
        <a href="/logout">Выход</a>
    </div>
</div>
</body>
</html>
